* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color_primario: #e5826d;
    --fondo_color_logo: #323637;
    --tipografia_principal: 'tangerine';
    --color_titulos: #8f6741;
    --blanco_fondo: #fbfcfe;
    --blanco_frontal: #ffffff;
    --Alumni: 'Alumni Sans Pinstripe', sans-serif;
    --Big: 'Big Shoulders Display', cursive;
    --Wire: 'Wire One', sans-serif;
    /* 1280x500 -> Medida para las imagnes */
}

/* Efecto para los enlaces en la misma pagina */
html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    /* font-family: Roboto, sans-serif; */
    color: white;
}

header {
    background-color: var(--fondo_color_logo);
    border-bottom: 1px solid var(--color_primario);
    /* color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    width: 100%;
}

.logo-header img {
    width: 100px;
}

.nav-menu ul {
    display: flex;
    align-items: center;
}

.nav-menu li {
    /* border: 1px solid; */
    margin-right: 50px;
    text-decoration: none;
    list-style: none;
    transition: 1s;
    /* padding: 5px; */
}

.nav-menu a {
    text-decoration: none;
    color: var(--blanco_frontal);
    font-family: var(--Alumni);
    font-size: 30px;
}

.nav-menu a:hover {

    border-top: 1px solid #e5826d;
    border-bottom: 1px solid #e5826d;
    /* box-shadow: 2px 2px 2px 2px var(--color_primario); */

}


.menu-icon,
#check {
    display: none;
}

.menu-icon img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: var(--color_primario);
}

/* Responsive Menú */
@media (max-width:768px) {

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .nav-menu ul {
        display: block;
        position: fixed;
        top: 87px;
        left: -100%;
        /* background: var(--fondo_color_logo); */
        width: 100%;
        height: 100vh;
        right: 0;
    }

    .nav-menu ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .nav-menu ul li:last-child {
        background: none;
        padding: 1rem;
    }

    #check:checked~ul {
        left: 0;
        transition: all .25s;
    }

}

.dropdown-content {
    border-radius: 5px;
    margin: 5px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px var(--color_primario);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    border-radius: 5px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #e5816d89;
    border: 1px solid var(--color_primario);
    padding: 12px 16px;
    /* color: var(--fondo_color_logo) */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Responsive Menú Hambuerguesa*/
@media (max-width:768px) {
    .dropdown-content {
        margin: 20px;
        display: none;
        position: absolute;
        background-color: #f2f2f2;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
}

li.dropdown {
    display: inline-block;
}

/* estilos de la imagen del banner */
.primer_contenido .jumbotron {
    background: var(--color_primario);
    border-radius: 0px 0px 60px 60px;
    width: auto;
    height: auto;
}

/* Imagen grande que trabaja como banner */
.img_banner img {
    width: 100%;
    border-radius: 0px 0px 60px 60px;
}

/* Estilos del título de la segunda sección */
.titulo {
    text-align: center;
    justify-content: center;
    font-family: 'tangerine', cursive;
    font-size: 90px;
    color: #8f6741;
    margin: 20px;
}

/* Estilos de la sección de las primeras 4 imagenes*/
.segundo_contenido {
    width: 100;
    /* height: 100%; */
    /* margin: auto; */
    background: linear-gradient(90deg, rgba(50, 54, 55, 1) 34%, rgba(73, 62, 62, 1) 55%, rgba(106, 74, 72, 1) 83%, rgba(173, 98, 92, 1) 100%, rgba(229, 130, 109, 1) 100%);
}

/* ESTILOS SEGUNDO_CONTENIDO */
.grid_padre {
    margin: 0px 0px -10px 0px;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Tamaño delas columnas*/
    grid-auto-rows: auto;
    gap: 10px;
    justify-items: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}


/* Estilos de la imagen que esta dentro de la tarjeta */
.img_galeria {
    height: 476px;
    width: 367px;
    /* border: 1px solid #eac19a; */
    border-radius: 8px;
    max-width: 100%;
    box-sizing: border-box;
}

/* Estilo Zoom de las iamagenes que estan en el segundo_contenido */
.img_galeria:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    transition: all .5s ease-in-out;
}

/* Estilos titulo seccion2 */
.grid_padre .title_img {
    padding: 20px;
    display: flex;
    font-size: 30px;
    font-family: var(--Alumni);
    justify-content: start;
    position: relative;
    color: var(--blanco_frontal);
}

/* Posicionamos el valor al final (derecha)*/
.title_img .valor {
    margin-left: auto;
}

/* Estilos del boton (COMPRAR) de la segunda sección */
.grid_padre .btn {
    margin: 10px;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #77530a, #ffd277, #77530a, #77530a, #ffd277, #77530a);
    background-size: 200%;
    /* background-position: left; */
    /* color: #ffd277; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}

/* Estilos del boton (COMPRAR) de la segunda sección */
.btn::before {
    position: absolute;
    content: "COMPRAR";
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: var(--fondo_color_logo);
    background-size: 200%;
}

/* Estilos del boton (COMPRAR) de la segunda sección */
.grid_padre .btn:hover {
    background-position: right;
    transition-duration: 1s;
}

/* Estilos del boton (COMPRAR) de la segunda sección */
.grid_padre .btn:active {
    transform: scale(0.95);
}

/* Responsive Título del segundo_contenido*/
@media (max-width:768px) {
    .titulo {
        justify-content: center;
        margin: 10px;
        font-family: 'tangerine', cursive;
        font-size: 60px;
        color: #8f6741;
        margin: 20px;
    }

}

/* Responsive Título del segundo_contenido*/
@media (max-width:503px) {
    .titulo {
        justify-content: center;
        margin: 10px;
        font-family: 'tangerine', cursive;
        font-size: 50px;
        color: #8f6741;
        margin: 10px;
    }

    .primer_contenido .jumbotron {
        background: none;
        border-radius: 0px 0px 0px 0px;
        width: 100%;
        height: 200px;
    }

    .img_banner img {
        width: 100%;
        height: 200px;
        border-radius: 0px 0px 0px 0px;
    }

    .img_galeria:hover {
        -webkit-transform: none;
        transform: none;
        transition: none;
    }

    .grid_padre .title_img {
        color: #ffffff;
    }

    /* Estilos para quitarle el padding */
    .grid_padre {
        margin: 10px;
        padding: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* Tamaño delas columnas*/
        grid-auto-rows: auto;
        gap: 10px;
        justify-items: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
    }
}

/* Responsive Título del segundo_contenido*/
@media (max-width:710px) {

    /* Estilos para quitarle el padding */
    .grid_padre {
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* Tamaño delas columnas*/
        grid-auto-rows: auto;
        gap: 10px;
        justify-items: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
    }

}

@media (min-width:200px) and (max-width:1020px) {

    /* Estilos para quitarle el padding */
    .grid_padre {
        margin: 5px;
        padding: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        /* Tamaño delas columnas*/
        grid-auto-rows: auto;
        gap: 5px;
        justify-items: center;
        /* Centrar horizontalmente */
        align-items: center;
        /* Centrar verticalmente */
    }

}

/* INICIO TERCER*/
.tercer_contenido {
    background-color: #ffffff;
    height: auto;
}

/* Titulo tercer contenido */
.tercer_contenido .titulo {
    font-family: var(--tipografia_principal);
    font-size: 90px;
    color: var(--color_titulos);
    text-align: center;
    padding: 10px;
    margin: 10px;
}

@media(max-width:680px) {

    .tercer_contenido .titulo {
        font-size: 70px;
    }
}

@media(max-width:400px) {

    .tercer_contenido .titulo {
        font-size: 50px;
    }
}


/* Estilos contenedor tercer contenido */
.contact-info img {
    width: 100%;
    border-radius: 10px;
}

/* Estilos fondo contact-form segundo bloque seccion tercer-contenido*/
.contact-form {
    background: linear-gradient(90deg, rgba(50, 54, 55, 1) 34%, rgba(73, 62, 62, 1) 55%, rgba(106, 74, 72, 1) 83%, rgba(173, 98, 92, 1) 100%, rgba(229, 130, 109, 1) 100%);
    border-radius: 10px;
}

/* Estilos Formulario tercer-contenido */
.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px;
}

/* Estilos h2 del registro */
.contact-form h2 {
    font-family: var(--Alumni);
    font-size: 25px;
    margin: 20px;
    text-align: left;
    /* padding: 20px */
}

/* Estilos elemento P del formulario */
.contact-form form p {
    margin: 0;
    padding: 10px;
    font-family: var(--Alumni);
    font-size: 20px;
}


.contact-form form label {
    display: block;
}


.contact-form form .block {
    grid-column: 1/3;
}

/* Estilos del boton enviar y los inputs */
.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    outline: 0;
    color: #f4f2f3;
    border-bottom: 1px solid var(--color_primario);
    font-family: var(--Alumni);
    font-size: 20px;
    max-height: 120px;
}

/* Estilos Button enviar del registro */
.contact-form form button {
    background: var(--blanco_frontal);
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 1em;
    color: var(--color_titulos);
    font-size: 30px;
}

/* Estilos boton enviar registro hover*/
.contact-form form button:hover,
.contact-form form button:focus {
    background: var(--color_primario);
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}


/* MQ */
@media(min-width: 800px) {
    .contact-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* FIN TERCER CONTENIDO NUEVO */



/* ESTILOS CUARTO CONTENIDO */
.cuarto_contenido {
    background-color: var(--fondo_color_logo);
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1 1 1 auto 1fr;
    /* margin: 10px; */
    padding: 20px;
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Tamaño delas columnas*/
    grid-auto-rows: auto;
    gap: 5px;
    /* justify-items: center; */
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
}

/*Ajusta la imagen en su propio contenedor cuando se hace hover*/
.img_item {
    overflow: hidden;
}

/*  ESTILOS QUINTO_CONTENIDO  Estilos del titulo de los medios de pagos */
.quinta_seccion .titulo {
    font-size: 90px;
}

/* Estilos de los nombres medio de pagos */
.quinta_seccion h2 {
    font-size: 35px;
    margin: 20px 0px 0px 10px;
    font-family: var(--Big);
    color: white;
    padding: 5px
}

/* Estilos imaganes de la seccion medios de pagos */
.volumen_img {
    margin-bottom: 30px;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    border: 1px solid #eac19a;
    border-radius: 0px 20px 20px 0px;
    border-style: inset;
}

/* Seccion medios de pagos */
.medios_pago_grid {
    background: radial-gradient(circle, rgba(229, 130, 109, 1) 0%, rgba(127, 87, 79, 1) 0%, rgba(99, 75, 70, 1) 28%, rgba(76, 65, 63, 1) 70%, rgba(50, 54, 55, 1) 100%);
    width: auto;
    height: auto;
    display: flex;
    /* align-content:space-around; */
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.grid_padre_img {
    padding: 50px;
}

.volumen_img p {
    padding: 20px;
}

.volumen_img img {
    width: 30%;
}

.valor_input {
    border: 2px solid white;
}

/* ESTILOS ULTIMO CONTENIDO (FOOTER)
Cargamos la imagen de fondo del Footer */
.ultima_seccion {
    background: url(../../img/svg_footer/fondo1.svg) no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Decimos quq vamos a trabajar con css grid */
.footer_grid_padre {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
}

/* Estilos social network */
.svg img {
    width: 34px;
    margin: 20px 0px 0px 20px;
    transition: 0.5s;
}

.svg img:hover {
    width: 52px;
    margin: 20px 0px 0px 20px;
    transition: 0.1s;

}

/* Le colocamos un margen a cada icono de red social */
.footer_grid_padre .general_footer {
    margin: 20px;

}

/* Estilo a los titulos del footer (h3) */
.general_footer h3 {
    color: var(--blanco_frontal);
    font-size: 30px;
    font-family: var(--Alumni);
}

/* Estilos para los UL del footer */
.general_footer ul {
    margin: 15px 0px;
}

/* Estilos para los elementos Li del footer */
.footer_grid_padre li {
    padding: 10px 0px;
    list-style: none;
    font-family: var(--Alumni);
    font-size: 25px;

}

.footer_grid_padre li:hover {
    background-color: #3236372e;
    color: black;
    border-radius: 10px;
    padding: 10px 0px;
}

/* Estilos para que se coloque al lado el icono del itulo del footer */
.general_footer .inline {
    display: flex;
}

/*Estilos del icono del h3 del footer  */
.inline img {
    padding: 0px 0px;
    width: 35px;
}

/* Estilos para los enlaces del footer */
.general_footer a {
    text-decoration: none;
    color: #ffffff;
}